# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database & State (DO NOT COMMIT)
data/chroma_db/
src/emotion_analysis/persistence/*.sqlite
persistence/memory.sqlite
*.db
*.sqlite3

# Logs
*.log
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build and distribution folders
build/
dist/
build_vs/

# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio files
.vscode/
.vs/
*.vcxproj*
*.sln
.idea/